body{
    background: rgb(17, 17, 17);
}

h1{
    color: rgb(2, 56, 2);
    font-size: 50px;background: rgb(184, 184, 184);
    height: 1.6cm; width: 15cm;
}

h3{
    color: rgb(255, 255, 255);
}

h6{
    color: rgb(255, 255, 255);
}

ul{
    color: rgb(8, 177, 36);
    font-weight: bold;
    font-size: 25px;
}

p{
    color: rgb(255, 255, 255);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-align:left;
    width: 20cm;
}

img{
    width: 400px;
}






