body{
    background:#111111;
    color: #ffff   
}

main{max-width: 900px;
    margin: 40px auto;
    padding: 30px;
    background: #1f1f1f
    
}

h1{
    color: #4CAF50; 
    font-size: 70px; 
    background: none; 
    padding: 0;
    margin-bottom: 10px;
    width: auto; 
    height: auto;
}

p{
    color: #E0E0E0; 
    font-size: 17px;
    font-weight: 400;
    width: auto; 
    margin-bottom: 10px;
    text-align: justify;
}

h3, h6{
    color: rgb(255, 255, 255);
    font-weight: 600; 
    border-bottom: 1px solid #333333;
    padding-bottom: 5px;
    margin-top: 32px
}


ul{
    color: #00FF55; 
    font-weight: bold;
    font-size: 1.2em;
    list-style-type: '⚡ '; 
    padding-left: 550px;;
}

ul li {
    margin-bottom: 10px;
}

img{
    max-width: 45%; 
    height: auto;
    display: block; 
    margin: 1 auto;
    border-radius: 4px;
}


.box3 {
    background-image:url("https://sm.ign.com/ign_es/photo/d/dlss-4-exp/dlss-4-explained-everything-you-need-to-know-about-nvidias-l_246f.jpg");
    background-size: 100%;
    width: 650px;
    margin: 0 autO;
    height: 360px
    

}

.box4 {
    background-image:url("https://www.chuwi.com/public/upload/image/20230214/7dc23bdf80323d98de3d945a5167f66e.jpg"); 
    background-size: 100%;
    width: 650px;
    margin: 0 auto;
    height: 390px;
    

}


.box5 {
    background-image:url("https://i.blogs.es/3410ee/samsung-gddr7/1200_900.jpeg");
    background-size: 100%;
    width: 660px;
    margin: 0 auto;
    height: 470px;
    
}

.box6 {
    background-image: url("https://www.gsmpro.cl/cdn/shop/articles/Nvidia-GeForce-RTX-5090-rumores.jpg?v=1721061793");
    background-size: 100%;
    width: 1500px;
    height: 800px;
    background-position: top;
    background-attachment: fixed;
}

.oscuro {
    background-color: rgba(0, 0, 0, 0.667);
    width: 100%;
    height: 100%
}

h1 {text-align: center;}





