p{
    color: rgb(255, 255, 255);font-family:Arial, Helvetica, sans-serif; font-size: 18px;font-weight: 500;text-align:left;width: 20cm;}

ul{
    color: rgb(71, 158, 13);font-weight: bold;font-size: 25px;
}

span{
    color: white;
}

h2{
    color: rgb(2, 56, 2);font-size: 50px;background: rgb(184, 184, 184);height: 1.6cm; width: 15cm;
}

h3{
    color: white;
}

h6{
    color: white;
}

body{
    background: rgb(0, 0, 0);
}